<a href="https://colab.research.google.com/github/GGpark1/data-description/blob/main/data_description.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
from google.colab import files

In [3]:
#로컬에서 코랩으로 파일 업로드
uploaded = files.upload()

Saving adult.data to adult.data

In [4]:
names = ['age', 'workclass', 'fnlwgt', 'education', 'educationnum', 'maritalstatus', 'occupation', 'relationship', 'race',
        'sex', 'capitalgain', 'capitalloss', 'hoursperweek', 'nativecountry', 'label']

df = pd.read_csv('adult.data', header=None, names=names)
df.head()

,age,workclass,fnlwgt,education,educationnum,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,nativecountry,label
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [9]:
df.describe()

,age,fnlwgt,educationnum,capitalgain,capitalloss,hoursperweek
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [10]:
#데이터 타입, Null 여부, 메모리 사용량 확인
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            32561 non-null  int64
 1   workclass      32561 non-null  object
 2   fnlwgt         32561 non-null  int64
 3   education      32561 non-null  object
 4   educationnum   32561 non-null  int64
 5   maritalstatus  32561 non-null  object
 6   occupation     32561 non-null  object
 7   relationship   32561 non-null  object
 8   race           32561 non-null  object
 9   sex            32561 non-null  object
 10  capitalgain    32561 non-null  int64
 11  capitalloss    32561 non-null  int64
 12  hoursperweek   32561 non-null  int64
 13  nativecountry  32561 non-null  object
 14  label          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [11]:
#행렬의 크기 확인
df.shape

(32561, 15)

In [12]:
#column의 unique 값 확인
df['nativecountry'].unique()

array([' United-States', ' Cuba', ' Jamaica', ' India', ' ?', ' Mexico',
       ' South', ' Puerto-Rico', ' Honduras', ' England', ' Canada',
       ' Germany', ' Iran', ' Philippines', ' Italy', ' Poland',
       ' Columbia', ' Cambodia', ' Thailand', ' Ecuador', ' Laos',
       ' Taiwan', ' Haiti', ' Portugal', ' Dominican-Republic',
       ' El-Salvador', ' France', ' Guatemala', ' China', ' Japan',
       ' Yugoslavia', ' Peru', ' Outlying-US(Guam-USVI-etc)', ' Scotland',
       ' Trinadad&Tobago', ' Greece', ' Nicaragua', ' Vietnam', ' Hong',
       ' Ireland', ' Hungary', ' Holand-Netherlands'], dtype=object)

In [16]:
#column의 unique 별 데이터 수 확인
df['nativecountry'].value_counts()

 United-States                 29170
 Mexico                          643
 ?                               583
 Philippines                     198
 Germany                         137
 Canada                          121
 Puerto-Rico                     114
 El-Salvador                     106
 India                           100
 Cuba                             95
 England                          90
 Jamaica                          81
 South                            80
 China                            75
 Italy                            73
 Dominican-Republic               70
 Vietnam                          67
 Guatemala                        64
 Japan                            62
 Poland                           60
 Columbia                         59
 Taiwan                           51
 Haiti                            44
 Iran                             43
 Portugal                         37
 Nicaragua                        34
 Peru                             31
 France                           29
 Greece                           29
 Ecuador                          28
 Ireland                          24
 Hong                             20
 Cambodia                         19
 Trinadad&Tobago                  19
 Laos                             18
 Thailand                         18
 Yugoslavia                       16
 Outlying-US(Guam-USVI-etc)       14
 Honduras                         13
 Hungary                          13
 Scotland                         12
 Holand-Netherlands                1
Name: nativecountry, dtype: int64

In [27]:
#국적을 기준으로 age에 대한 기술통계를 확인

df.groupby('nativecountry')['age']\
                        .describe()\
                        .sort_values('mean', ascending=False)

,count,mean,std,min,25%,50%,75%,max
nativecountry,,,,,,,,
Hungary,13.0,49.384615,17.731979,24.0,30.00,54.0,60.00,81.0
Italy,73.0,46.424658,13.367579,19.0,38.00,48.0,56.00,77.0
Greece,29.0,46.206897,13.055867,22.0,40.00,49.0,55.00,65.0
Cuba,95.0,45.768421,13.487151,21.0,37.00,46.0,54.50,82.0
Poland,60.0,43.116667,15.484373,17.0,30.00,41.0,53.25,85.0
Canada,121.0,42.545455,15.081998,17.0,30.00,41.0,53.00,80.0
China,75.0,42.533333,12.526009,22.0,33.00,41.0,51.50,75.0
Trinadad&Tobago,19.0,41.315789,10.842574,17.0,34.00,42.0,47.00,61.0
England,90.0,41.155556,14.278853,17.0,30.25,40.0,48.75,90.0
Puerto-Rico,114.0,40.508772,13.023631,17.0,31.00,40.0,48.75,90.0
Scotland,12.0,40.416667,12.809502,18.0,29.00,41.0,49.50,62.0
Portugal,37.0,40.297297,14.364046,19.0,29.00,38.0,49.00,78.0
Columbia,59.0,39.711864,13.592659,18.0,28.50,38.0,49.00,75.0
Philippines,198.0,39.444444,12.952253,17.0,29.00,38.0,47.75,90.0
Iran,43.0,39.418605,10.170528,22.0,33.50,38.0,44.50,63.0
Germany,137.0,39.255474,12.962065,18.0,29.00,36.0,47.00,74.0
France,29.0,38.965517,11.881807,20.0,30.00,34.0,47.00,64.0
Yugoslavia,16.0,38.812500,12.697605,20.0,30.50,38.0,43.50,66.0
South,80.0,38.750000,14.706840,19.0,26.75,36.0,49.00,90.0
?,583.0,38.725557,12.404833,17.0,30.00,37.0,46.00,90.0
Outlying-US(Guam-USVI-etc),14.0,38.714286,14.541339,21.0,26.75,35.5,47.00,63.0
United-States,29170.0,38.655674,13.722408,17.0,28.00,37.0,48.00,90.0
Haiti,44.0,38.272727,12.236742,17.0,28.75,38.0,48.75,63.0
Japan,62.0,38.241935,9.196731,19.0,32.25,38.0,45.00,61.0
India,100.0,38.090000,11.195323,17.0,29.00,35.5,47.00,61.0
Cambodia,19.0,37.789474,11.073386,18.0,30.00,37.0,44.00,65.0
Dominican-Republic,70.0,37.728571,13.097097,18.0,26.00,39.0,47.75,78.0
Ecuador,28.0,36.642857,14.692438,21.0,28.00,32.0,42.50,90.0
Ireland,24.0,36.458333,11.158850,23.0,30.00,32.0,41.50,68.0
Jamaica,81.0,35.592593,11.674521,18.0,26.00,33.0,44.00,66.0
Peru,31.0,35.258065,13.188297,17.0,24.50,34.0,42.50,69.0
Thailand,18.0,34.944444,10.870750,19.0,26.75,33.0,44.50,55.0
Laos,18.0,34.722222,11.701209,19.0,27.00,31.0,43.50,56.0
El-Salvador,106.0,34.132075,12.185921,17.0,24.00,32.5,42.00,79.0
Vietnam,67.0,34.059701,13.491727,19.0,23.00,30.0,43.50,73.0
Honduras,13.0,33.846154,11.610671,18.0,28.00,31.0,41.00,58.0
Taiwan,51.0,33.823529,9.452420,20.0,27.50,31.0,40.50,61.0
Hong,20.0,33.650000,9.109134,19.0,27.75,32.5,37.00,60.0
Nicaragua,34.0,33.617647,11.544419,19.0,26.25,32.0,40.50,67.0
Mexico,643.0,33.290824,10.891036,17.0,25.00,31.0,40.00,81.0
Guatemala,64.0,32.421875,11.432069,19.0,24.75,28.5,38.50,66.0
Holand-Netherlands,1.0,32.000000,NaN,32.0,32.00,32.0,32.00,32.0

In [28]:
#변수 간 상관관계 확인
df.corr()

,age,fnlwgt,educationnum,capitalgain,capitalloss,hoursperweek
age,1.000000,-0.076646,0.036527,0.077674,0.057775,0.068756
fnlwgt,-0.076646,1.000000,-0.043195,0.000432,-0.010252,-0.018768
educationnum,0.036527,-0.043195,1.000000,0.122630,0.079923,0.148123
capitalgain,0.077674,0.000432,0.122630,1.000000,-0.031615,0.078409
capitalloss,0.057775,-0.010252,0.079923,-0.031615,1.000000,0.054256
hoursperweek,0.068756,-0.018768,0.148123,0.078409,0.054256,1.000000

In [31]:
df['label_int'] = df.label.apply(lambda x : ">" in x)
df.head()

,age,workclass,fnlwgt,education,educationnum,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,nativecountry,label,label_int
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,False
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,False
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,False
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,False
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,False

In [32]:
#단변량 상관관계
df.corr()

,age,fnlwgt,educationnum,capitalgain,capitalloss,hoursperweek,label_int
age,1.000000,-0.076646,0.036527,0.077674,0.057775,0.068756,0.234037
fnlwgt,-0.076646,1.000000,-0.043195,0.000432,-0.010252,-0.018768,-0.009463
educationnum,0.036527,-0.043195,1.000000,0.122630,0.079923,0.148123,0.335154
capitalgain,0.077674,0.000432,0.122630,1.000000,-0.031615,0.078409,0.223329
capitalloss,0.057775,-0.010252,0.079923,-0.031615,1.000000,0.054256,0.150526
hoursperweek,0.068756,-0.018768,0.148123,0.078409,0.054256,1.000000,0.229689
label_int,0.234037,-0.009463,0.335154,0.223329,0.150526,0.229689,1.000000